html {
    background-color: rgb(163, 163, 114);
    box-sizing: border-box;

}


h1 {

    text-align: center;
    color: rgb(11, 86, 184);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

#links {

    text-align: center;
    display: block;
    

}


a {

    color: black;
    text-decoration: none;
    font-size: 16px;

}

a:hover {

    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: white;

}

button {

    background-color: beige;
    border-color: rgb(12, 80, 226);
    border-width: 2px;
}

button:hover {

    background-color: rgb(11, 51, 233);
}

p {

    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 17px;
    color: rgb(11, 86, 184);

}